<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>fotiee price predictor</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Price Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Few Collections</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- blog -->
    <div class="container my-2" action = '/about'>
        <!-- main -->

        <main role="main" class="text-center">
            <h1 class="cover-heading">♦My Team♦</h1>

        </main>
        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Akshay<span class="text-muted"></span></h2>
                <p class="lead"><b>Akshay has a good command over ball control and skills,has good vision of the game and plays as an attacking midfielder</b></div>
            <div class="col-md-5 my-4">
                <img src="/static/akshay.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Musaab<span class="text-muted"></span></h2>
                <p class="lead"><b>Musaab is the Engine of the team,a man tough to pass through,has good command on his skills and tactics,knows where the ball is,he plays as a Defensive Midfielder </b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/musi.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Surajj<span class="text-muted"></span></h2>
                <p class="lead"><b>Surajj has good command over his sprint and has good stamina,he has the capability to pass through defenders through his sprints,he plays as an defensive back </b></p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/suri.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="row featurette mx-3">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Yash<span class="text-muted"></span></h2>
                <p class="lead"><b>Yash has a good command on his finishing at the roof's of the net,has a good strong right foot,he plays as an Striker</b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/yash.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-3">
            <div class="col-md-7 my-3">
                <h2 class="featurette-heading">Meet<span class="text-muted"></span></h2>
                <p class="lead"><b>Meet has a good command over his reflexes,and has a good vision of the game,he plays as a Goal Keeper</b></p>
            </div>
            <div class="col-md-5 my-3">
                <img src="/static/meetwa.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="row featurette mx-3">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Nikhil<span class="text-muted"></span></h2>
                <p class="lead"><b>Nikhil Yadav is a perfect striker of the ball,has a very good finshing skill,he plays for the hyderbad football league,he plays as a Striker</b></p>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/nikhil.jfif" width = '300' height = '300' class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>