<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Price Predictor</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Price Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
        </div>
    </nav>


    <main role="main" class="text-center">
        <h1 class="cover-heading">Player Price Predictor</h1>
        <p class="lead">♦Predict the price of the player based on the given attributes♦</p>

    </main>


    <!-- Finishing	
    HeadingAccuracy	
    FKAccuracy
        BallControl
        Balance	
        Stamina	
        Strength
        Positioning	
        Vision	
        Composure	
        passing	
        Tackle
        speed -->



    <div class="container">
        <h2 class="text-center mt-3"></h2>

        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="meanrad">Finishing</label>
                <input type="text" class="form-control" id="meanrad" name="meanrad" placeholder="<can be from 0-100 for ex 90.0>">
            </div>
            <div class="form-group">
                <label for="meanrad1">Heading Accuracy</label>
                <input type="text" class="form-control" id="meanrad1" name="meanrad1" placeholder="<can be from 0-100 for ex 90.0>">
            </div>
            <div class="form-group">
                <label for="meanper">Freekick Accuracy</label>
                <input type="text" class="form-control" id="meanper" name="meanper" placeholder="<can be from 0-100 for ex 90.0>">
                <div class="form-group">
                    <label for="meanarea">Ball Control</label>
                    <input type="text" class="form-control" id="meanarea" name="meanarea" placeholder="<can be from 0-100 for ex 90.0>">
                    <div class="form-group">
                        <label for="meancon">Balance</label>
                        <input type="text" class="form-control" id="meancon" name="meancon" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concavemean">Stamina</label>
                        <input type="text" class="form-control" id="concavemean" name="concavemean" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concavepoints">Strength</label>
                        <input type="text" class="form-control" id="concavepoints" name="concavepoints" placeholder="<can be from 0-100 for ex 90.0>">

                    </div>
                    <div class="form-group">
                        <label for="radworst">Positioning</label>
                        <input type="text" class="form-control" id="radworst" name="radworst" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="perworst">Vision</label>
                        <input type="text" class="form-control" id="perworst" name="perworst" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concaveworst">Composure</label>
                        <input type="text" class="form-control" id="concaveworst" name="concaveworst" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concaveworst1">Passing</label>
                        <input type="text" class="form-control" id="concaveworst1" name="concaveworst1" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concaveworst2">Tackle</label>
                        <input type="text" class="form-control" id="concaveworst2" name="concaveworst2" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>
                    <div class="form-group">
                        <label for="concaveworst3">Speed</label>
                        <input type="text" class="form-control" id="concaveworst3" name="concaveworst3" placeholder="<can be from 0-100 for ex 90.0>">
                    </div>


                    <button class="btn btn-primary" type="submit">Predict</button>
        </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>