<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>fotiee price predictor</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Price Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predict">Predict Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- main -->

    <div class="container my-2" action='/videos'>
        <!-- main -->

        <main role="main" class="text-center">
            <h1 class="cover-heading">♦My Best 5-a side Team♦</h1>

        </main>

        <!-- iker casillas -->
        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Iker Casillas<span class="text-muted"></span></h2>
                <p class="lead"><b>Watch the spanish Enigma</b>
                </p>
                <a href="https://www.youtube.com/watch?v=JWFUZu8m8MY" class="btn btn-primary"><b>Watch here</b></a>
            </div>
            <div class="col-md-5 my-4">
                <img src="/static/iker.jfif" width='400' height='400' class="d-block w-100" alt="...">
            </div>
        </div>

        <!-- paolo maldini -->
        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Paolo Maldini<span class="text-muted"></span></h2>
                <p class="lead"><b>Watch the wall!!..,Ex Defender,AC Milan Fc</b>
                </p>
                <a href="https://www.youtube.com/watch?v=nw7dfRAa5sk" class="btn btn-primary"><b>Watch here</b></a>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/paolo.jfif" width='300' height='300' class="d-block w-100" alt="...">
            </div>
        </div>
        <!-- roberto carlos -->

        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading"><b>Roberto Carlos</b><span class="text-muted"></span></h2>
                <p class="lead"><b>Watch the beast..Ex Defender,Real Madrid Fc</b>
                </p>
                <a href="https://www.youtube.com/watch?v=Mrwdwv2Xn_o" class="btn btn-primary"><b>Watch here</b></a>
            </div>
            <div class="col-md-5 my-4">
                <img src="/static/Roberto.jfif" width='300' height='300' class="d-block w-100" alt="...">
            </div>
        </div>

        <!-- beckham -->
        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">David Beckham<span class="text-muted"></span></h2>
                <p class="lead"><b>Watch the wizard of Long Balls..,Ex MidFeilder,Real Madrid Fc</b>
                </p>
                <a href="https://www.youtube.com/watch?v=VlRlzmUzjBc" class="btn btn-primary"><b>Watch here</b></a>
            </div>
            <div class="col-md-5 order-md-1 my-3">
                <img src="/static/david.jfif" width='300' height='300' class="d-block w-100" alt="...">
            </div>
        </div>

        <!-- ronaldo lima -->

        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading"><b>Ronaldo de Lima</b><span class="text-muted"></span></h2>
                <p class="lead"><b>Watch the beast..Ex Striker,Real Madrid Fc</b>
                </p>
                <a href="https://www.youtube.com/watch?v=P7f2k6icJ-M" class="btn btn-primary"><b>Watch here</b></a>
            </div>
            <div class="col-md-5 my-4">
                <img src="/static/lima.jfif" width='300' height='300' class="d-block w-100" alt="...">
            </div>
        </div>


    </div>

</body>